@charset "UTF-8";
@font-face {
  font-family: Bebas Neue;
  src: url("../fonts/Bebas Neue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #EFEFEF;
  transition: all 0.3s;
}

.container {
  max-width: calc(1366px + 2 * 20px);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #2E2E31;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.h1 {
  font-family: Bebas Neue;
  font-size: clamp(41px, 9.1vw, 70px);
  font-style: normal;
  font-weight: 700;
  line-height: 0.97; /* 97.143% */
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.h2, h2 * {
  font-family: Bebas Neue;
  font-size: clamp(20px, 6.5vw, 50px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.36; /* 136% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.18px;
  padding: 21px 40px;
  min-width: 320px;
  max-width: fit-content;
}


.btn-primary {
  background: #EA4C14;
}
.btn-primary:hover {
  background: none;
  outline: 2px solid #EA4C14;
  color: #EA4C14;
}

.btn-outline {
  border: 2px solid #F5F5F5;
}
.btn-outline:hover {
  background: #EA4C14;
  border-color: #EA4C14;
  color: #EFEFEF;
}

.bg-dark {
  background-color: #222224;
}

  /* 1 блок */

.header {
  border-bottom: 0.6px solid #E3E2E2;
  background-color: #222224;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
}


.nav {
  display: flex;
  padding-top: 15px;
}
.nav__logo {
  max-width: clamp(104px, 18vw, 186px);
}
.nav__logo img {
  width: 100%;
}

.menu {
  margin-left: clamp(30px, 4vw, 76px);
  display: flex;
  align-items: center;
  gap: 35px;
}
.menu__item-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35; /* 135% */
  letter-spacing: 0.2px;
 
  display: block;
  padding-top: 18px;
  padding-bottom: 25px;
}

.nav__contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.nav__contacts a {
  color: #FFF;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.18px;
}

  /* 2 блок*/ 

.block1 {
  padding: 186px 0 65px;
}

.block1__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 60px;
}

.block1__paragraph:last-child {
  flex: 0 1 870px;
}


.block1__title {
  max-width: 360px;
}

.block1__text {
  margin-top: 25px;
  max-width: 424px;
}


.block1__btn {
  max-width: 400px;
  width: 100%;
  margin-top: 50px;
}


.block1__image {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.block1__image::after {
  content: attr(data-caption);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  rotate: 180deg;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 18px 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  writing-mode: vertical-lr;
  color: #FFF;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.3px;
}

.block1__image img {
  width: 100%;
}

/* блок наши услуги*/

.service {
  padding: 65px 0 160px;
}

.service__cards {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 29px;
}


.service__card {
  flex: 0 0 calc(33.33% - 19.3333333333px);
  height: 180px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 5px;
  border: 2px solid #464646;
  background: #191919;
}


.service__card:hover {
  border: 2px solid #EA4C14;
}

.service__card-img {
  flex-shrink: 1;
}

.service__card-img svg {
  width: 100%;
}
.service__card-heading {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22; /* 122.727% */
  letter-spacing: 0.22px;
}

  /* 3 блок и блок с инфой (из нижней части)*/

.tabs {
  padding-top: 180px;
  padding-bottom: 150px;
  overflow: hidden;
  display: flex;
  gap: 28px;
}

.tabs_2 {
  padding-top: 115px;
  padding-bottom: 80px;
}
.tabs_2 .tabs_headings {
  flex: 0 0 575px;
}

.tabs_2 .tabs__body {
  position: relative;
  padding-left: 65px;
  padding-bottom: 100px;
  color: #FFF;
  font-family: Roboto;
  font-size: clamp(12px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.tabs_2 .tabs__body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #9DA0A3;
  opacity: 0.3;
}
.tabs_2 .tabs__body::after {
  content: "";
  position: absolute;
  left: 1px;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #9DA0A3;
  opacity: 0.3;
}
.tabs_2 .tabs__content {
  max-width: 56%;
}



.tabs_headings {
  flex: 0 1 534px;
}

.tabs_heading {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 46px;
  position: relative;
}
.tabs_heading:not(:first-of-type) {
  padding-top: 46px;
}
.tabs_heading:not(:first-of-type) .tabs_heading-arrow {
  top: calc(46px + 0.36em);
}
.tabs_heading:not(:last-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 88%;
  height: 1px;
  background: #E3E2E2;
  opacity: 0.2;
}
.tabs_heading.tabs_heading_active .tabs_heading-arrow {
  left: 0;
  opacity: 1;
}
.tabs_heading.tabs_heading_active .tabs_heading-text {
  transform: translateX(45px);
}

.tabs_heading-arrow {
  position: absolute;
  top: 0.36em;
  left: -100px;
  opacity: 0;
}
.tabs_heading-text {
  max-width: 489px;
  line-height: 1;
}
.tabs_heading-text * {
  line-height: 1;
}

.tabs_heading-text_orange {
  color: #EA4C14;
}
.tabs_heading-text.h2, .tabs_heading-text.h2 * {
  font-size: 50px;
}
.tabs__content {
  max-width: 50%;
}

.tabs__content-list {
  list-style-type: disc;
  color: #FFF;
  font-family: Roboto;
  font-size: clamp(12px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  padding-left: 20px;
}
.tabs__content-list span {
  color: #EA4C14;
}

.tabs__content-mark {
  color:  #EA4C14;
  font-family: Roboto;
  font-size: clamp(12px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  position: relative;
  margin-left: 55px;
  margin-top: 23px;
  padding-left: 20px;
}

.tabs__content-mark::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #EA4C14;
  width: 2px;
  border-radius: 1px;
}
.tabs__body {
  display: none;
}
.tabs__body.tabs__body_active {
  display: block;
}

.spoilers {
  position: relative;
  flex-direction: column;
}
.spoilers::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #9DA0A3;
  opacity: 0.3;
}

.spoiler {
  padding-left: 56px;
  position: relative;
}

.spoiler:not(:first-of-type) {
  padding-top: 30px;
}

.spoiler::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #9DA0A3;
  opacity: 0.3;
}
.spoiler__header {
  cursor: pointer;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22; /* 122.727% */
  letter-spacing: 0.22px;
}

.spoiler__content {
  overflow: hidden;
}
.spoiler__content-list {
  list-style-type: disc;
  padding-left: 30px;
}
.spoiler__content-mark {
  margin-top: 18px;
  padding-left: 20px;
  position: relative;
}
.spoiler__content-mark::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #FFF;
  border-radius: 1px;
}
.spoiler__content-mark a {
  color: #EA4C14;
  text-decoration: underline;
}
.spoiler__content-img {
  margin-top: 30px;
}
.spoiler__content-img img {
  width: 100%;
}

.spoiler__icon {
  max-width: 45px;
  width: 9vw;
}

/* шаги */

.steps {
  padding: 93px 0;
}

.steps__heading span {
  color: #EA4C14;
}
.steps__body {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-top: 73px;
}

.steps__paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  position: relative;
}
.steps__paragraph:not(:first-of-type)::before {
  content: url("../img/steps-arrow.svg");
  position: absolute;
  left: 0;
  top: 1em;
  translate: -100% 0;
}

.steps__paragraph-number {
  color: var(--Orange, #EA4C14);
  font-family: Bebas Neue;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 136% */
  letter-spacing: 0.5px;
}
.steps__paragraph-text {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.22px;
  text-align: center;
}
.steps__paragraph-text_orange {
  color: #EA4C14;
}
.steps__btn {
  margin-top: 75px;
}

  
  /* секция с кейсами-фото*/

.section {
  display: flex;
  height: 57.5vw;
}

.section__image {
  flex: 0 0 44.74vw;
  overflow: hidden;
}
.section__image picture, .section__image img {
  width: 100%;
}

.section__content {
  padding: 88px 20px 82px 0;
  max-width: 804px;
  height: 100%;
  overflow-y: scroll;
}
.section__content::-webkit-scrollbar {
  display: none;
}


.section__heading {
  padding-left: 100px;
  line-height: 1;
}



.section__subheading {
  color: #A5A5A5;
  font-family: Roboto;
  font-size: clamp(10px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  padding-left: 100px;
  margin-top: 6px;
}


.section__btn {
  margin-left: 107px;
  margin-top: 55px;
}



.section__spoilers {
  margin-top: 55px;
}


.section__spoilers.spoilers::before {
  display: none;
}
.section__spoilers .spoiler {
  padding-left: 100px;
}


.section__spoilers .spoiler_active svg * {
  stroke: #EA4C14;
}
.section__spoilers .spoiler__header {
  font-size: clamp(13px, 3.125vw, 24px);
}
.section__spoilers .spoiler__body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 43px;
  font-size: clamp(12px, 1vw, 16px);
}


  /* блок с тегами */

.tags__header {
  display: none;
}


.tags__body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 11px;
  row-gap: 17px;
}


.tag {
  cursor: pointer;
  color: #FFF;
  /* Наборный */
  font-family: Roboto;
  font-size: clamp(12px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  padding: 0.5em 1.83em;
  border-radius: 6px;
  border: 1px solid #FFF;
}

.tag:not(.tag_active):hover {
  color: #EA4C14;
  border-color: #EA4C14;
}

.taga{
  color: #FFF; 
}

.taga:not(.tag_active):hover{
  color: #EA4C14;
}
.projects {
  padding: 200px 0 160px;
}


.projects__tags {
  margin-top: 52px;
}

.projects__paragraphs {
  display: flex;
  gap: 30px;
  margin-top: 25px;
}

.projects__column {
  flex: 0 0 calc(50% - 15px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects__btn {
  margin: 50px auto 0;
  width: 436px;
  max-width: 100%;
}


.project {
  position: relative;
}
.project:hover .project__footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) -7.58%, rgba(0, 0, 0, 0.6) 100%);
}
.project:hover .project__tags {
  opacity: 1;
}
.project:hover .project__image picture, .project:hover .project__image img {

  filter: grayscale(0%);
}
.project__image {
  width: 100%;
}
.project__image picture, .project__image img {
  width: 100%;

  filter: grayscale(100%);
}

.project__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  padding: 23px 40px;
}

.project__title {
  color: #FFF;
  font-family: Bebas Neue;
  font-size: clamp(18px, 4.2vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.32px;
}
.project__tags {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
}

.project__tag {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.16px;
  border-radius: 6px;
  border: 1px solid #FFF;
  padding: 2px 18px;
}

  /* партнёры */

.partners {
  padding-top: 80px;
  padding-bottom: 85px;
}

.partners__paragraphs {
  margin-top: clamp(40px, 6.5vw, 60px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.partner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 226px;
  height: 200px;
  border: 1px solid #424242;
}
.partner:hover {
  background: #EFEFEF;
}


.partner__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* блок с формой */
.application {
  padding-bottom: 120px;
}

.application__heading {
  color: #EFEFEF;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 113.333% */
  letter-spacing: 0.6px;
}
.application__btn {
  margin: 51px auto 0;
  max-width: 390px;
  width: 100%;
}

  /* форма */
.form {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 36, 0.8);
}
.form.form_active {
  display: flex;
}
.form__container {
  border-radius: 8px;
  background: #2E2E31;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 64px 40px;
}
.form__heading {
  text-align: center;
}
.form__paragraphs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input:not([type=submit]) {
  border-radius: 6px;
  border: 1px solid #E5E5E5;
  background: #FFF;
  padding: 25px 16px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}

input:not([type=submit])::placeholder {
  color: #9A9A9A;
}

input[type=submit] {
  cursor: pointer;
}

.form__note {
  color: #A5A5A5;
  font-family: Roboto;
  font-size: clamp(11px, 2.1vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25; /* 125% */
}
.form__note span {
  color: #EA4C14;
}

  /* футер */

.footer {
  background-color: #070707;
  padding-top: 100px;
  border-top: 2px solid #EA4C14;
}


.footer__line {
  display: flex;
  flex-wrap: wrap;
}
.footer__logo {
  width: clamp(104px, 24.7vw, 190px);
}
.footer__logo img {
  width: 100%;
}

.footer__menu {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-left: auto;
}



.footer__menu-link {
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35; /* 135% */
  letter-spacing: 0.2px;
}


.footer__menu-link:hover {
  color: #EA4C14;
}
.footer__other {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  margin-top: 66px;
}


.footer__other-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  margin-right: 40px;
}
.footer__other-list {
  display: flex;
  gap: 40px;
}
.footer__other-item a {
  color: #EA4C14;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  color: #EA4C14;
  text-decoration: underline;
}
.footer__information {
  flex: 0 0 50%;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer__information-item {
  font-family: Roboto;
  font-size: clamp(12px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
}
.footer__contacts {
  flex: 0 0 50%;
  margin-top: 55px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.footer__contacts-item a {
  color: #FFF;
  text-align: right;
  font-family: Roboto;
  font-size: clamp(12px, 3vw, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.35; /* 135% */
  letter-spacing: 0.2px;
}
.footer__politics {
  flex: 0 0 100%;
  font-family: Roboto;
  font-size: clamp(12px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  color: #EA4C14;
  text-decoration: underline;
  text-align: right;
}

.footer__copy {
  font-family: Roboto;
  font-size: clamp(12px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.36px;
  width: 100%;
  border-top: 1px solid #E3E2E2;
  margin-top: 35px;
  padding: 24px 0;
}


.section-404 {
  padding: 100px 0;
}
.section-404__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section-404__image img {
  width: 50%;
}
.section-404__btn {
  margin: 50px auto 0;
}


@media (max-width: 1450px) {
    .nav__contacts a {
        font-size: 16px;
      }
      .menu__item-link {
        font-size: 14px;
      }
      .service__card {
        flex: 0 0 calc(50% - 14.5px);
      }
      .section__content {
        padding: 50px 20px 50px 0;
      }
      .section__heading {
        padding-left: 50px;
      }
      .section__subheading {
        padding-left: 50px;
      }
      .section__btn {
        margin-left: 50px;
      }
      .section__spoilers {
        margin-top: 40px;
      }
      .section__spoilers .spoiler {
        padding-left: 50px;
      }
      .form {
        display: flex;
        position: static;
        border-radius: 8px;
      }
      .footer__menu {
        gap: 40px;
      }
      .footer__menu-link {
        font-size: 16px;
      }

}

@media (max-width: 992px) {
    .nav {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      .menu {
        display: none;
      }
      .block1__container {
        flex-direction: column;
        gap: 95px;
        align-items: center;
        text-align: center;
      }
      .block1__paragraph:last-child {
        flex: unset;
        width: 81%;
      }
      .block1__title {
        max-width: 542px;
      }
      .block1__text {
        max-width: 530px;
        margin: 40px auto 0;
      }
      .block1__btn {
        margin: 50px auto 0;
      }
      .tabs_2 .tabs_headings {
        flex: unset;
      }
      .tabs_2 .tabs__body {
        padding-left: 0;
        padding-bottom: 10px;
      }
      .tabs_2 .tabs__body:not(:first-child) {
        display: none;
      }
      .tabs_2 .tabs__body::before, .tabs_2 .tabs__body::after {
        display: none;
      }
      .tabs_2 .tabs__content {
        max-width: 100%;
      }
      .tabs_2 .tabs_heading:not(:first-child) {
        display: none;
      }
      .tabs {
        flex-direction: column;
        padding-top: 90px;
        padding-bottom: 90px;
      }
      .tabs_headings {
        flex: unset;
      }
      .tabs_heading-text {
        max-width: 100%;
      }
      .tabs__content {
        max-width: 100%;
      }
      .tabs__content-mark {
        margin-left: 20px;
      }
      .steps__body {
        flex-direction: column;
        align-items: center;
      }
      .steps__body br {
        display: none;
      }
      .steps__paragraph:not(:first-of-type)::before {
        display: none;
      }
      .steps__btn {
        margin: 80px auto 0;
      }
      .section {
        height: unset;
        flex-direction: column;
      }
      .section__image {
        flex: unset;
        flex-direction: column;
      }
      .section__content {
        max-width: 100%;
        padding: 50px 20px;
      }
      .section__heading {
        padding-left: 30px;
      }
      .section__heading br {
        display: none;
      }
      .section__subheading {
        padding-left: 30px;
      }
      .section__btn {
        margin: 55px auto 0;
        align-self: center;
        max-width: fit-content;
        min-width: 320px;
      }
      .section__spoilers .spoiler {
        padding-left: 30px;
      }
      .tags__header {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #FFF;
        font-family: Roboto;
        font-size: clamp(12px, 2.5vw, 18px);
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.36px;
      }
      .tags__body {
        margin-top: 35px;
      }
    
      .projects {
        padding: 64px 0;
      }
      .projects__tags {
        margin-top: 20px;
      }
      .projects__paragraphs {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .projects__column {
        flex: unset;
        gap: 20px;
        max-width: 728px;
        width: 100%;
      }
      .project__image picture, .project__image img {
   
        filter: grayscale(0%);
      }
      .project__footer {
        padding: 15px;
      }
      .project__tags {
        display: none;
      }
      .application {
        display: none;
        padding-bottom: 60px;
      }
      .footer {
        padding-top: 44px;
      }
      .footer__logo {
        order: 1;
      }
      .footer__menu {
        flex: 0 0 50%;
        order: 3;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        font-size: 20px;
        margin-top: 17px;
      }
      .footer__other {
        order: 6;
        margin-top: 40px;
      }
        .footer__information {
    order: 4;
    align-items: flex-end;
    margin-top: 34px;
    text-align: right;
  }
  .footer__contacts {
    order: 2;
    margin-top: 0;
  }
  .footer__politics {
    order: 5;
    text-align: left;
    margin-top: 38px;
  }
  .footer__copy {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
    .btn {
        max-width: 100%;
        padding: 17px 0;
        font-size: 13px;
        min-width: unset;
      }
      .block1__paragraph:last-child {
        width: 100%;
      }
      .block1__image::after {
        font-size: clamp(16px, 3.9vw, 30px);
      }
      .service__cards {
        gap: 13px;
        margin-top: 40px;
      }
      .service__card {
        flex: 0 0 100%;
        height: 115px;
        border: unset;
        padding: 0 20px 0 12vw;
        justify-content: flex-start;
        gap: 35px;
      }
      .service__card br {
        display: none;
      }
      .service__card:hover {
        border: unset;
      }
      .service__card-img {
        max-width: 85px;
      }
      .tabs_1 {
        display: none;
      }
      .tabs {
        padding-top: 65px;
        padding-bottom: 65px;
      }
      .tabs_heading {
        padding-bottom: 0;
      }
      .tabs_heading::before {
        display: none;
      }
      .spoiler {
        padding-left: 30px;
      }
    
   
      .spoiler:not(:first-of-type) {
        padding-top: 20px;}

    .spoiler__body {
            padding-top: 20px;
          }

    .steps {
            display: none;
          }  
    .projects__btn {
            margin-top: 20px;
          }
    .partners {
            padding-top: 0;
            padding-bottom: 50px;
          }
    .partner {
            flex: 0 0 180px;
            height: 157px;
          }
    .partner:nth-of-type(n+7) {
            display: none;
          }
    .partner__image {
            width: 70%;
          }
    .partner__image img {
            max-width: 100%;
            max-height: 80%;
          }  
    .footer {
            padding-top: 24px;
          }   
.footer__other {
            display: none;
          }

}

@media (max-width: 480px) {
    .nav {
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .nav__contacts a {
        font-size: 12px;
      }
      .nav__contacts > a:last-of-type {
        display: none;
      }
      .block1 {
        padding: 130px 0 35px;
      }
      .block1__container {
        gap: 40px;
      }
      .block1__text {
        margin-top: 20px;
      }
      .block1__btn {
        margin-top: 20px;
      }
      .service {
        padding: 35px 0 65px;
      }
      .service__cards {
        margin-top: 20px;
      }
      .service__card {
        height: 70px;
        padding: 15px;
        gap: 13px;
      }
      .service__card-img {
        max-width: 48px;
      }
      .service__card-heading {
        font-size: 13px;
        line-height: 1.61;
      }
      .tabs {
        padding-top: 35px;
        padding-bottom: 35px;
      }
      .tabs__content-list {
        list-style: none;
      }
      .spoiler__content-img {
        display: none;
      }
      .section__content {
        padding: 20px;
      }
      .section__heading {
        padding-left: 0;
      }
      .section__subheading {
        padding-left: 0;
        margin-top: 10px;
      }
      .section__btn {
        max-width: 100%;
        min-width: unset;
        width: 100%;
        margin-top: 20px;
      }
      .section__spoilers {
        margin-top: 20px;
      }
      .section__spoilers .spoiler {
        padding-left: 0;
      }
        .tags__body {
        row-gap: 8px;
        margin-top: 16px;
      }
      .tag {
        padding: 0 13px;
      }
      .projects__heading {
        text-align: center;
      }
      .partner {
        flex: 0 0 50%;
        height: 140px;
      }
      .partner:nth-of-type(n+7) {
        display: none;
      }
      input:not([type=submit]) {
        font-size: 14px;
        padding: 16px;
      }
      .footer__menu {
        gap: 20px;
        flex: 0 0 100%;
      }
      .footer__menu-link {
        font-size: 13px;
      }
      .footer__information {
        flex: 0 0 100%;
        text-align: left;
        align-items: flex-start;
      }
      .footer__contacts {
        gap: 5px;
      }
}