
.section-404 {

    padding: 100px 0;

    // .section-404__img
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
            width: 50%;
        }
    }

    // .section-404__btn
    &__btn {
        margin: 50px auto 0;
    }
}
