.form {

    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 36, 0.8);

    &.form_active {
        display: flex;
    }

    @media (max-width: $breakpoint992) {
        display: flex;
        position: static;
        border-radius: 8px;
    }

    &__container {
        border-radius: 8px;
        background: #2E2E31;
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
        padding: 64px 40px;
    }

    // .form__title
    &__title {
        text-align: center;
    }

    // .form__items
    &__items {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .form__note
    &__note {
        color: #A5A5A5;
        font-family: Roboto;
        font-size: clamp(11px, 2.1vw, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 1.25; /* 125% */
        span {
            color: $orange;
        }
    }
}

