.hero {

    padding: 186px 0 65px;

    @media (max-width: $breakpoint480) {
        padding: 130px 0 35px;
    }

    // .hero__container
    &__container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 60px;

        @media (max-width: $breakpoint992) {
            flex-direction: column;
            gap: 95px;
            align-items: center;
            text-align: center;
        }

        @media (max-width: $breakpoint480) {
            gap: 40px;
        }
    }

    // .hero__item
    &__item {
        &:last-child {
            flex: 0 1 870px;
            @media (max-width: $breakpoint992) {
                flex: unset;
                width: 81%;
            }
            @media (max-width: $breakpoint768) {
                width: 100%;
            }
        }
    }

    // .hero__title
    &__title {
        max-width: 360px;
        @media (max-width: $breakpoint992) {
            max-width: 542px;
        }
    }

    // .hero__text
    &__text {
        margin-top: 25px;
        max-width: 424px;
        @media (max-width: $breakpoint992) {
            max-width: 530px;
            margin: 40px auto 0;
        }
        @media (max-width: $breakpoint480) {
            margin-top: 20px;
        }
    }

    // .hero__btn
    &__btn {
        max-width: 400px;
        width: 100%;
        margin-top: 50px;
        @media (max-width: $breakpoint992) {
            margin: 50px auto 0;
        }
        @media (max-width: $breakpoint480) {
            margin-top: 20px;
        }
    }

    // .hero__img
    &__img {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        &::after {
            content: attr(data-caption);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            rotate: 180deg;

            display: flex;
            justify-content: center;
            background: rgba(0, 0, 0, 0.30);
            padding: 18px 10px;
            border-left: 1px solid rgba(255, 255, 255, 0.30);;
            
            writing-mode: vertical-lr;
            color: #FFF;
            text-align: center;
            font-family: Bebas Neue;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.33; /* 133.333% */
            letter-spacing: 0.3px;

            @media (max-width: $breakpoint768) {
                font-size: clamp(16px, 3.9vw, 30px);
            }
        }

        img {
            width: 100%;
        }
    }
}


