// Container
$conteinerWidth: 1366 + px;
$containerPadding: 20 + px;

// Breakpoints
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$bodyBackground: #2E2E31;
$darkSection: #222224;
$white: #EFEFEF;
$orange: #EA4C14;
